@media all and (max-width: 1000px) {
	.welcome-text {
	   top: 30%;
	   font-size: 36px;
   }
   .body-main2 .lesson {
	   width: 50%;
	   margin-bottom: 50px;
   }   
}

@media all and (max-width: 670px) {
	.slide {
		margin-top: 80px;
	}
	.welcome-text {
		top : 25%;
		font-size: 22px;
	}
	.body-main2 .lesson {
		width: 100%;
		float: none;
		margin : 0 auto;
	}
}

